version: "0.1.1"
remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js"
  "https://cdn.firebase.com/js/client/2.2.1/firebase.js"
  "https://cdn.firebase.com/libs/firepad/1.1.0/firepad.min.js"
]
dependencies:
  observable: "distri/observable:v0.1.0"
  postmaster: "distri/postmaster:v0.2.2"
